@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant sky (&:where(.sky, .sky *));
@custom-variant hover (&:hover);

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-text: var(--text-color);
  --color-light: var(--light-color);
}

span {
  color: #525949;
  color: #e0d7ce;
  color: #b49e79;
  color: #d8d4c9;
  color: #5e4c3e;
}
span {
  color: #ffffff;
  color: rgb(244, 239, 235);
  color: rgb(47, 65, 87);
  color: #577c8e;
  color: #c7d9e5;
}

@layer base {
  :root {
    --primary-color: rgb(82, 89, 73);
    --secondary-color: rgb(180, 158, 121);
    --text-color: rgb(94, 76, 62);
    --light-color: rgb(241, 239, 227);
  }
  .dark {
    --primary-color: rgb(87, 124, 142);
    --secondary-color: rgb(87, 124, 142);
    --text-color: rgb(244, 239, 235);
    --dark-color: rgb(47, 65, 87);
  }
  section {
    padding: 4rem 2rem;
  }
  article {
    padding: 4rem 0;
  }
  h1 {
    font-family: var(--parisienne);
    font-size: 3rem;
  }
  h2 {
    font-family: var(--font-playfair-display);
    font-size: 2.5rem;
    padding: 0.5rem 0 2.5rem 0;
  }
  h3 {
    font-family: var(--font-playfair-display);
    font-size: 2rem;
    padding: 0.5rem 0 1rem 0;
    margin: 0 0 3.5rem 0;
  }
  h4 {
    font-family: var(--font-playfair-display);
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }
  p {
    font-family: var(--font-proza-libre);
    font-size: 1rem;
  }

  a {
    font-family: var(--font-proza-libre);
    font-size: 1rem;
    max-width: 8rem;
  }
  li {
    font-family: var(--font-proza-libre);
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .roman {
    font-family: var(--font-playfair-display);
  }
  .markdown {
    white-space: break-spaces;
  }
}
